*, *::before, *::after { 
    box-sizing: border-box;
}

html, body { 
    height: 100%;
    margin: 0;
    padding: 1rem;

    font-family: sans-serif;

    background-color: #FFE5E5;

    word-break: break-word;

}

.error {
    position: absolute;
    top: 0;
    left: 50%;

    transform: translateX(-50%);
    z-index: 1;

    background-color: #ffcccc; 
    text-align: center;
    padding: 1rem;
    width: 100%;

}

.error-message {
    color: #ff0000; 
}

h1{
    text-align: center;
    align-items: center;

    padding: 1rem;
    padding-top: 2rem;

    width: 100%;

    color: black;
}

button{
    border: none;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin: 1rem;

    background-color: #FFBFBF;
    border-radius: 2rem;

    cursor: pointer;

    font-size: 1rem;

    cursor: pointer;

}


/************ Login Page ************/

.login{
    text-align: center;

    padding: 1rem;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

.login-form{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.login-text {
    width: 20rem;
}


/************ Game Page ************/

.game-instruction{
    line-height: 1.5;
}

.words-field{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    word-break: normal;
}

.possible-field{
    grid-column: span 3;
}

.guessed-field{
    grid-column: span 2;
}

.possible-field, .guessed-field{
    margin: 1rem;
    padding: 1rem;

    border-color: red;
    border-style: dashed;
    border-radius: 1rem;   
}

.winning{
  color: red;
  font-size: large;
  font-weight: bold;

  margin: 1rem;
  padding: 1rem;

  text-align: center;
}

